{{ 'section-rotating-banners.css' | asset_url | stylesheet_tag }}
<div>
    <div class="rotating-banners">
        <div class="rotating-banners__container">
            {% for block in section.blocks %}
                <div class="rotating-banners__item">
                    <div style="background: url({{block.settings.image}})" class="rotating-banners__item-content">
                        <h2 class="rotating-banners__item-title">
                            Test
                        </h2>
                        <div class="rotating-banners__item-text">
                            Test
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}

{
    "name": "t:sections.rotating-banners.name",
    "tag": "section",
    "class": "section",
    "blocks": [
        {
            "type": "slide",
            "name": "t:sections.rotating-banners.blocks.slide.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.rotating-banners.blocks.slide.settings.image"
                }
            ]
        }
    ]
}

{% endschema %}
