{{ 'section-rotating-banners.css' | asset_url | stylesheet_tag }}
<script src="{{ 'rotating-banners.js' | asset_url }}" defer="defer"></script>

<div>
    <rotating-banners class="rotating-banners">
        <div class="rotating-banners__container">
            {% for block in section.blocks %}
                <div class="rotating-banners__item" {{ block.shopify_attributes }}>
                    <div  class="rotating-banners__item-content">
                        <div style="background-image: url({{block.settings.image | image_url}})" class="rotating-banners__item-media">
                            Test
                        </div>
                      <div class="rotating-banners__item-">
                            Test
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </rotatin-banners>
</div>
{% schema %}

{
    "name": "t:sections.rotating-banners.name",
    "tag": "section",
    "class": "section",
    "blocks": [
        {
            "type": "slide",
            "name": "t:sections.rotating-banners.blocks.slide.name",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:sections.rotating-banners.blocks.slide.settings.image"
                },
				{
					"type": "product",
					"id": "product",
					"label": "t:sections.rotating-banners.blocks.slide.settings.product"
				}
            ]
        }
    ]
}

{% endschema %}
