.featured-collections__wrapper{
  padding: 5rem 0rem;
}

.feeatured-collections__collection-media-wrapper{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:70%;
}

.feeatured-collections__collection-container{
  display: flex;
  align-items: stretch;
  min-height: 400px;
  width: 100%;
}

.feeatured-collections__collection-info-wrapper{
  flex: 1;
}