.featured-collections__wrapper{
  padding: 5rem 0rem;
}

.feeatured-collections__collection-media-wrapper{
  background-size: cover;
  background-position: center;
}

.feeatured-collections__collection-container{
  display: flex;
  align-items: stretch;
}