.rotating-banners__container {
  position: relative;
  min-height: 90vh;
  width: 100%;
  overflow: hidden;
}

.rotating-banners__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: all var(--anim-duration);
}

.rotating-banners__item.active {
  opacity: 1;
  transition: all var(--anim-duration);
}

.rotating-banners__item-title {
  position: absolute;
  left: 6rem;
  top: 3rem;
}

.rotating-banners__item-title h1 {
  font-weight: bold;
  font-size:72px;
  margin:0 !important;
  letter-spacing: 20px;
  max-width: 80%;
  transform: translateX(-1000px);
  transition: all var(--anim-duration);
}

.rotating-banners__item.active .rotating-banners__item-title h1 {
  transform: translateX(0px);
}

.rotating-banners__item-content {
  flex:1;
  height:100%;
  display:flex;
}
.rotating-banners__item-content > div{
  flex:1;
  height:100%;
}

.rotating-banners__item-content > div.rotating-banners__item-media{
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}

.rotating-banners__item-product-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  padding-right: 10rem;
}

.rotating-banners__item-product-featured-image {
  text-align:center;
  transform: translateY(-500px);
  transition: all var(--anim-duration);
}

.rotating-banners__item.active .rotating-banners__item-product-featured-image {
  transform: translateY(0px);
  transition: all var(--anim-duration);
}


.rotating-banners__nav {
  position: absolute;
  right: 3rem;
  top: 4rem;
  bottom: 4rem;
  min-width: 4rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.rotating-banners__nav-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.rotating-banners__nav-step {
  opacity: 0.2;
  border-right:1px solid rgba(0,0,0,0.2);
  margin:1rem 0;
  transition: all var(--anim-duration);
  text-decoration: none;
  color: #333;
  text-shadow: 0px 0px 1px white;
}

.rotating-banners__nav-step.active {
  opacity:1;
  border-right:5px solid rgba(0,0,0,1);
  transition: all var(--anim-duration);
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .rotating-banners__item-title h1 {
    font-size:42px;
    max-width:100%;
    letter-spacing: 0px;
  }
  
  .rotating-banners__item-product-featured-image img {
    width:300px;
  }
  .rotating-banners__item-content {
    flex-direction: column;
  }
}