.rotating-banners__container {
  position: relative;
  min-height: 80vh;
  width: 100%;
}

.rotating-banners__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rotating-banners__item-title {
  position: absolute;
  left: 6rem;
  top: 3rem;
}

.rotating-banners__item-title h1 {
  font-weight: bold;
  font-size:72px;
  margin:0 !important;
  letter-spacing: 20px;
  max-width: 80%;
}

.rotating-banners__item-content {
  flex:1;
  height:100%;
  display:flex;
}
.rotating-banners__item-content > div{
  flex:1;
  height:100%;
}

.rotating-banners__item-content > div.rotating-banners__item-media{
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}

.rotating-banners__item-product-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
}

.rotating-banners__item-product-featured-image {
  text-align:center;
}