.rotating-banners__container {
  position: relative;
  min-height: 80vh;
  width: 100%;
}

.rotating-banners__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rotating-banners__item-content {
  flex:1;
  height:100%;
  display:flex;
}
.rotating-banners__item-content > div{
  flex:1;
  height:100%;
}

.rotating-banners__item-content > div.rotating-banners__item-media{
  background-position: "center";
  background-size:"cover";
  background-repeat:no-repeat;
}